<div class="container overflow-hidden text-center">
    <div class="row gy-5">
        
            <div class="card mb-2 col-xs-12 col-sm-4 col-md-3" *ngFor="let persona of personas">
                <img [src]="persona.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ persona.name }}</h5>
                </div>
                 <!-- <a [routerLink]="['/modal', persona.id]" class="btn btn-primary">Load More</a> -->
                 <!-- Botón para abrir el modal -->
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#personaModal" (click)="abrirModal(persona)">
                    Abrir modal
                </button>
                
            </div>

              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">                 
                        <li class="page-item" ><a class="page-link" (click)="decrementarVector(indice-1)">Previous</a></li>
                        <li class="page-item" *ngFor="let pagina of paginas"><a class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</a></li>
                        <li class="page-item"><a class="page-link" (click)="incrementarVector(indice+1)">Next</a></li>   
                </ul>
              </nav>
            
    </div>
    
</div>

<app-modal [personaSeleccionadaModal]="personaSeleccionadaHome"></app-modal>

<!-- <pre>{{ personas | json}}</pre> -->

